<div class="flex justify-between">
  <div>
    <a routerLink="/" class="no-underline">
      <p
        class="px-1 font-bold text-xl bg-stone-100 hover:bg-white text-blue-800 hover:text-blue-900 hover:scale-110 hover:-translate-x-1 hover:drop-shadow-xl transform duration-200 ease-in-out">
        ansh dawda</p>
    </a>
  </div>
  <div>
    <div class="grid grid-cols-6 gap-1 gap-x-2 md:gap-x-6 text-lg">
      <div class="col-span-3">
        <a routerLink="/about" class="underline underline-offset-8">
          <p class="hover:text-white hover:scale-110 hover:-translate-x-1 transform duration-300 ease-in-out">↝ about</p>
        </a>
      </div>
      <div class="col-span-3">
        <a routerLink="/blog" class="underline underline-offset-8">
          <p class="hover:text-white hover:scale-110 hover:-translate-x-1 transform duration-300 ease-in-out">↝ blog?</p>
        </a>
      </div>
      <div class="col-span-3">
        <a routerLink="/contact" class="underline underline-offset-8">
          <p class="hover:text-white hover:scale-110 hover:-translate-x-1 transform duration-300 ease-in-out">↝ contact</p>
        </a>
      </div>
      <div class="col-span-3">
        <a routerLink="/deep" class="underline underline-offset-8">
          <p class="hover:text-white hover:scale-110 hover:-translate-x-1 transform duration-300 ease-in-out">↝ dddd</p>
        </a>
      </div>
    </div>
  </div>
</div>
