<div class="flex justify-between items-center">
  <!-- Logo -->
  <a class="logo group" routerLink="/home">
    a n s h <br />
    <span class="font-extralight group-hover:font-normal">dawda</span></a
  >

  <div class="grid grid-cols-2 gap-x-4 gap-y-2">
    <!-- About -->
    @if (!isCurrentRoute("/about")) {
      <a class="nav-link group" routerLink="/about"
        ><span class="group-hover:text-(--color-primary)">↝</span> about</a
      >
    } @else {
      <a class="nav-link group text-(--color-primary) italic" routerLink="/home"
        ><span class="group-hover:text-(--color-primary) not-italic">↜</span>
        home</a
      >
    }

    <!-- Labs -->
    @if (!isCurrentRoute("/labs")) {
      <a class="nav-link group" routerLink="/labs"
        ><span class="group-hover:text-(--color-primary)">↝</span> labs</a
      >
    } @else {
      <a class="nav-link group text-(--color-primary) italic" routerLink="/home"
        ><span class="group-hover:text-(--color-primary) not-italic">↜</span>
        home</a
      >
    }

    <!-- Contact -->
    @if (!isCurrentRoute("/contact")) {
      <a class="nav-link group" routerLink="/contact"
        ><span class="group-hover:text-(--color-primary)">↝</span> contact</a
      >
    } @else {
      <a class="nav-link group text-(--color-primary) italic" routerLink="/home"
        ><span class="group-hover:text-(--color-primary) not-italic">↜</span>
        home</a
      >
    }

    <!-- Projects -->
    @if (!isCurrentRoute("/projects")) {
      <a class="nav-link group" routerLink="/projects"
        ><span class="group-hover:text-(--color-primary)">↝</span> projects</a
      >
    } @else {
      <a class="nav-link group text-(--color-primary) italic" routerLink="/home"
        ><span class="group-hover:text-(--color-primary) not-italic">↜</span>
        home</a
      >
    }
  </div>
</div>
