<div class="flex justify-between items-center">
  <a class="logo" routerLink="/home">
    ansh dawda
  </a>
  <div class="grid grid-cols-2 gap-x-4 gap-y-2">
    <a class="nav-link group" routerLink="/about"><span class="group-hover:text-(--color-primary)">↝</span> about</a>
    <a class="nav-link group" routerLink="/blog"><span class="group-hover:text-(--color-primary)">↝</span> blog</a>
    <a class="nav-link group" routerLink="/contact"><span class="group-hover:text-(--color-primary)">↝</span> contact</a>
    <a class="nav-link group" routerLink="/projects"><span class="group-hover:text-(--color-primary)">↝</span> projects</a>
  </div>
</div>
