<div class="h-full flex flex-col justify-around grid grid-cols-2 gap-2">
  <div class="col-span-2 text-9xl">
    contact
  </div>
  <div class="col-span-2 md:col-span-1">
    <p class="px-2 font-bold font-mono bg-stone-100 text-blue-800">
      email
    </p>
    <div class="p-2 grid grid-cols-2 border-2">
      <div class="col-span-2">
        <a href="mailto:ansh.dawda@gmail.com">ansh.dawda[at]gmail.com</a>
      </div>
    </div>
  </div>
  <div class="col-span-2 md:col-span-1">
    <p class="px-2 font-bold font-mono bg-stone-100 text-blue-800">
      linkedin
    </p>
    <div class="p-2 grid grid-cols-2 border-2">
      <div class="col-span-2">
        <a href="https://www.linkedin.com/in/anshdawda">linkedin.com/in/anshdawda</a>
      </div>
    </div>
  </div>
  <div class="col-span-2 md:col-span-1">
    <p class="px-2 font-bold font-mono bg-stone-100 text-blue-800">
      github
    </p>
    <div class="p-2 grid grid-cols-2 border-2">
      <div class="col-span-2">
        <a href="https://github.com/unshDee">&#64;unshDee</a>
      </div>
    </div>
  </div>
  <div class="col-span-2 md:col-span-1">
    <p class="px-2 font-bold font-mono bg-stone-100 text-blue-800">
      something else?
    </p>
    <div class="p-2 grid grid-cols-2 border-2">
      <div class="col-span-2">
        <form
          action="https://formspree.io/f/mvgowjgy"
          method="POST"
          class="flex flex-col space-y-4"
        >
          <!-- Name Field -->
          <div>
            <label for="name" class="block text-sm font-bold mb-1">Name</label>
            <input
              type="text"
              id="name"
              name="name"
              required
              class="w-full p-2 border-2 border-stone-100 bg-blue-800 text-stone-100"
            />
          </div>
          <!-- Email Field -->
          <div>
            <label for="email" class="block text-sm font-bold mb-1">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              required
              class="w-full p-2 border-2 border-stone-100 bg-blue-800 text-stone-100"
            />
          </div>
          <div>
            <label for="message" class="block text-sm font-bold mb-1">Message</label>
            <textarea
              id="message"
              name="message"
              required
              rows="5"
              class="w-full p-2 border-2 border-stone-100 bg-blue-800 text-stone-100"
            ></textarea>
          </div>
          <button
            type="submit"
            class="w-full py-2 px-4 text-blue-800 bg-stone-100 font-bold hover:bg-stone-100 focus:ring-2 focus:ring-stone-100"
          >
            Send Message
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
