<div class="p-4 pb-0 min-h-screen flex flex-col">
  <!-- Main Content Wrapper -->
  <div class="flex-grow grid md:grid-cols-8 md:gap-4">
    <!-- Center Content -->
    <div class="md:col-start-2 md:col-span-6 flex flex-col">
      <!-- Header -->
      <div>
        <app-header></app-header>
      </div>
      <!-- Content -->
      <div class="flex-grow py-8 md:py-4">
        <router-outlet></router-outlet>
      </div>
      <!-- Footer -->
      <div>
        <app-footer></app-footer>
      </div>
    </div>
  </div>
</div>
