<div
  class="pb-4 min-h-[calc(100vh-10rem)] flex flex-col justify-center text-justify"
>
  <div class="grid md:grid-cols-2 gap-4">
    <div class="self-center">
      <div class="mb-4">
        <h1 class="text-8xl md:text-9xl">about</h1>
      </div>
      <p>
        I'm Ansh. I spend most of my time building things with code - usually around AI, data, and systems that make life a little easier or more interesting. I care about practical solutions, clean design, and tools that people actually enjoy using.
        <br />
        <br />
        Outside of work and study, I like drawing, gaming, music, and getting outside for the occasional hike. This site is a small corner of the web where I share what I'm working on and what I'm curious about.
      </p>
      <p class="invisible md:visible">
        Feel free to look around, and if you want to connect,
        <a
          routerLink="/contact"
          class="underline underline-offset-4 decoration-1"
          >reach out</a
        >.
      </p>
    </div>
    <div
      class="group transform-3d perspective-midrange perspective-origin-center flex flex-col items-center -translate-y-1/6 md:translate-y-0 hover:scale-110 transition-transform duration-500 ease-in-out"
    >
      <img
        [src]="'/img/self.jpg'"
        width="250"
        height="400"
        class="rotate-z-5 -rotate-y-2 -rotate-x-5 translate-y-1/8 -translate-z-8 shadow-sm rounded-md group-hover:shadow-xl hover:translate-z-20 transition-all duration-500 ease-in-out"
      />
      <img
        [src]="'/img/doodles.jpg'"
        width="250"
        height="200"
        class="-rotate-z-5 rotate-y-10 rotate-x-40 -translate-y-0 translate-z-18 shadow-sm rounded-md group-hover:shadow-xl hover:translate-z-30 transition-all duration-500 ease-in-out"
      />
    </div>
  </div>
  <p class="md:invisible">
    Feel free to look around, and if you want to connect,
    <a routerLink="/contact" class="underline underline-offset-4 decoration-1"
      >reach out</a
    >.
  </p>
</div>
