<div class="pb-4 min-h-[calc(100vh-10rem)] flex flex-col justify-center">
  <div class="mb-4">
    <h1 class="text-8xl md:text-9xl">about</h1>
  </div>
  <div class="grid md:grid-cols-2 gap-4">
    <app-window title="introduction">
      Hi, I’m <span class="font-bold">Ansh Dawda</span>, a Master’s student in <span class="font-semibold">Data Science and Artificial
          Intelligence</span> at <a href="https://www.uni-saarland.de" target="_blank"
                                    class="underline underline-offset-4">Universität des Saarlandes</a>, Germany.
      My journey is a mix of technology, creativity, and curiosity, driven by a passion for <span class="font-semibold">Machine Learning</span>,
      <span class="font-semibold">Natural Language Processing</span>, and <span
      class="font-semibold">Web Development</span>.
    </app-window>
    <app-window title="education">
      <ul class="list-disc pl-4">
        <li>
          <span class="font-bold">Master of Science in Data Science and Artificial Intelligence</span>
          <br>
          Universität des Saarlandes, Germany (2023 - Present)
        </li>
        <li>
          <span class="font-bold">Bachelor of Technology in Computer Science and Engineering</span>
          <br>
          Amity University, Mumbai (2019 - 2023)
        </li>
      </ul>
    </app-window>
    <app-window title="work experience" class="col-span-2">
      <ul class="list-disc pl-4">
        <li>
          <span class="font-semibold">KPMG India</span>: Developed web app features and APIs while working in advisory
          services.
        </li>
        <li>
          <span class="font-semibold">Samsung R&D</span>: Built a Personally Identifiable Information (PII) detection
          framework using Python and NLP tools.
        </li>
        <li>
          <span class="font-semibold">Google Developer Student Club</span>: Organized workshops and events as a core
          team member.
        </li>
      </ul>
    </app-window>
    <app-window title="projects" class="col-span-2">
      <ul class="list-disc pl-4">
        <li>
          <span class="font-semibold">Predicting Healthcare Utilization:</span> Applied regression models to predict
          medical expenditure.
        </li>
        <li>
          <span class="font-semibold">VoxArt:</span> Built an Android app for voice-to-image synthesis using sentiment
          analysis.
        </li>
      </ul>
    </app-window>
    <app-window title="achievements" class="col-span-2">
      <ul class="list-disc pl-4">
        <li><span class="italic border-e-2 pe-2">2024</span> Silver Medal for securing the 2nd rank in academics at
          Amity University. 🥈
        </li>
        <li><span class="italic border-e-2 pe-2">2024</span> Shri Baljit Shastri Award for exemplary human and
          traditional values.
        </li>
        <li><span class="italic border-e-2 pe-2">2022</span> Certificate of Excellence for outstanding performance at
          Samsung R&D Institute.
        </li>
      </ul>
    </app-window>
    <app-window title="languages">
      <ul class="list-disc pl-4">
        <li>English: Fluent (C1)</li>
        <li>German: Beginner (A2) (<span class="italic">currently learning</span>)</li>
        <li>Hindi: Native Speaker</li>
      </ul>
    </app-window>
    <app-window title="??">
      Outside of tech, I enjoy hiking, watching history and art documentaries, and reading.
    </app-window>
  </div>
</div>
