<div class="min-h-[calc(100vh-10rem)] flex flex-col justify-center">
  <div class="mb-8">
    <h1 class="text-8xl md:text-9xl">projects</h1>
  </div>
  <div class="grid gap-4">
    <app-window windowTitle="Recent">
      <ul class="list-disc pl-4">
        <li>
          <a
            class="underline underline-offset-2"
            routerLink="image-segmentation"
            (click)="trackProjectClick('Image Segmentation with Scribble Supervision')"
            >Image Segmentation with Scribble Supervision</a
          >
        </li>
        <li>
          <a
            class="underline underline-offset-2"
            routerLink="data-selection-peft"
            (click)="
              trackProjectClick(
                'Data Selection Strategies and Fine-Tuning for Chemical Language Models'
              )
            "
            >Data Selection Strategies and Fine-Tuning for Chemical Language
            Models</a
          >
        </li>
        <li>
          <a
            class="underline underline-offset-2"
            routerLink="fact-check-liar"
            (click)="trackProjectClick('Fact Checking QA Chatbot')"
            >Fact Checking Q&A Chatbot</a
          >
        </li>
      </ul>
    </app-window>
    <app-window windowTitle="Older">
      <ul class="list-disc pl-4">
        <li>
          <a
            class="underline underline-offset-2"
            routerLink="program-repair-hint"
            (click)="
              trackProjectClick(
                'LLM Fine-Tuning for Program Repair and Hint Generation'
              )
            "
            >LLM Fine-Tuning for Program Repairing Hint Generation</a
          >
        </li>
        <li>
          <a
            class="underline underline-offset-2"
            routerLink="healthcare-utilization"
            (click)="trackProjectClick('Predicting Healthcare Utilization')"
            >Predicting Healthcare Utilization
          </a>
        </li>
        <li>
          <a
            class="underline underline-offset-2"
            routerLink="voxart"
            (click)="
              trackProjectClick(
                'Voice-to-Image Generation with Sentiment Analysis'
              )
            "
            >Voice-to-Image Generation with Sentiment Analysis</a
          >
        </li>
      </ul>
    </app-window>
    <!-- <router-outlet/> -->
  </div>
</div>
