<main>
  <div class="flex flex-col justify-between">
    <div class="text-10xl">
      hello
    </div>
    <p class="text-xl font-mono text-stone-100">
      i’m <span class="font-bold text-white">Ansh</span>,
      <br>
      studying neural networks, generative ai, and database systems...
    </p>
    <br>
    <div class="grid grid-cols-4 gap-2">
      <div class="col-span-4 md:col-span-2 lg:col-span-1 group">
        <p
          class="px-2 font-bold font-mono bg-stone-100 text-blue-800 group-hover:bg-white transform duration-300 ease-in-out">
          <a href="https://www.uni-saarland.de/">&#64;saarland university</a>
        </p>
        <div class="p-2 border-2">
          <div class="font-semibold text-lg">
            student
          </div>
        </div>
      </div>
      <div class="col-span-4 md:col-span-2 lg:col-span-1 group">
        <p
          class="px-2 font-bold font-mono bg-stone-100 text-blue-800 group-hover:bg-white transform duration-300 ease-in-out">
          masters
        </p>
        <div class="p-2 border-2">
          <div class="font-semibold text-lg">
            data science & ai
          </div>
        </div>
      </div>
      <div class="col-span-4 lg:col-span-2 group">
        <p
          class="px-2 font-bold font-mono bg-stone-100 text-blue-800 group-hover:bg-white transform duration-300 ease-in-out">
          interests
        </p>
        <div class="p-2 border-2">
          <div class="font-semibold text-lg">
            machine learning,
            natural language processing,
            web development
          </div>
        </div>
      </div>
    </div>
<!--    <br>-->
    <div class="flex justify-center my-4 border-dashed border-stone-300 border-b-2">
    </div>
    <div class="grid grid-cols-3 gap-2">
      <div class="col-span-3 lg:col-span-1 group">
        <p class="px-2 font-bold font-mono bg-stone-100 text-blue-800 group-hover:bg-white duration-300 ease-in-out">
          updates
        </p>
        <div class="p-2 border-2">
          <ul class="list-inside list-[square]">
            <li>i built a website</li>
            <a routerLink="/blog" class="flex">
              more...
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4 mt-1">
                <path
                  d="M6.22 8.72a.75.75 0 0 0 1.06 1.06l5.22-5.22v1.69a.75.75 0 0 0 1.5 0v-3.5a.75.75 0 0 0-.75-.75h-3.5a.75.75 0 0 0 0 1.5h1.69L6.22 8.72Z"/>
                <path
                  d="M3.5 6.75c0-.69.56-1.25 1.25-1.25H7A.75.75 0 0 0 7 4H4.75A2.75 2.75 0 0 0 2 6.75v4.5A2.75 2.75 0 0 0 4.75 14h4.5A2.75 2.75 0 0 0 12 11.25V9a.75.75 0 0 0-1.5 0v2.25c0 .69-.56 1.25-1.25 1.25h-4.5c-.69 0-1.25-.56-1.25-1.25v-4.5Z"/>
              </svg>
            </a>
          </ul>
        </div>
      </div>
      <div class="col-span-3 lg:col-span-1 group">
        <p class="px-2 font-bold font-mono bg-stone-100 text-blue-800 group-hover:bg-white duration-300 ease-in-out">
          test
        </p>
        <div class="p-2 border-2">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aspernatur dicta dolor et fuga incidunt
          laborum, nulla quo totam veritatis? Corporis dignissimos dolores fugiat harum itaque, mollitia nemo nisi
          voluptatum?
        </div>
      </div>
      <div class="col-span-3 lg:col-span-1 group">
        <p class="px-2 font-bold font-mono bg-stone-100 text-blue-800 group-hover:bg-white duration-300 ease-in-out">
          location
        </p>
        <div class="p-2 border-2">
          <a href="https://g.co/kgs/Kh2vaYu">Saarbrücken, Germany</a>
        </div>
      </div>
    </div>
  </div>
</main>
